@model IEnumerable<JBPTicketsApp.Models.Entities.Persona>

@{
    ViewData["Title"] = "Index";
}

<a class="btn btn-primary" asp-action="Create">Create New</a>

<table class="table table-light table-hover table-striped shadow-lg my-3 myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Red)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelLiderazgo)
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Red.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelLiderazgo.Nombre)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.IdPersona">Edit</a> |
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.IdPersona">Details</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.IdPersona">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
