@model JBPTicketsApp.Models.Entities.Evento

@{
    ViewData["Title"] = "Details";
    int i = 1;
}

<section class="my-3">
    <div class="row">
        <div class="col-md-5">
            <ul class="list-group">
                <li class="list-group-item">
                    <h2>Detalles del evento</h2>
                </li>
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(model => model.Nombre):</strong>
                    @Html.DisplayFor(model => model.Nombre)
                </li>
                <li class="list-group-item">
                    <strong>@Html.DisplayNameFor(model => model.Fecha):</strong>
                    @Html.DisplayFor(model => model.Fecha)
                </li>
            </ul>
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Generar reportes</h2>
                </div>
                <div class="card-body">
                    <form id="by-status" asp-action="StatusReportPdf" method="get">
                        <input type="hidden" id="id-evento-pdf" name="evento" value="@Model.IdEvento" />
                        <div class="row align-items-end">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Estado</label>
                                    <select class="form-select mb-3" id="status-pdf" name="estado">
                                        <option selected value="">Todas</option>
                                        <option value="pendiente">Pendiente</option>
                                        <option value="abonado">Abonado</option>
                                        <option value="pagado">Pagado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Categoría</label>
                                    <select class="form-select mb-3" id="categoria-pdf" name="categoria">
                                        <option selected value=""> Todas</option>
                                        @foreach (var categoria in ViewBag.Categorias)
                                        {
                                            <option value="@categoria.IdCategoria">@categoria.Nombre</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label class="form-label">Red</label>
                                    <select class="form-select mb-3" id="red-pdf" name="red">
                                        <option selected value="">Todas</option>
                                        @foreach (var red in ViewBag.Redes)
                                        {
                                            <option value="@red.IdRed">@red.Nombre</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary">Generar reporte</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped shadow border myTable table-responsive text-start" id="availableTickets">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Código</th>
                    <th>Precio</th>
                    <th>Abono</th>
                    <th>Estado</th>
                    <th>Categoría</th>
                    <th>Responsable</th>
                    <th>Red</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model.Tickets)
                {
                    <tr data-ticket-id="@ticket.IdTicket" class="available-ticket">
                        <td>@i</td>
                        <td>
                            <a asp-route-id="@ticket.IdTicket" asp-controller="Tickets">
                                @ticket.Codigo
                            </a>
                        </td>
                        <td>$@ticket.Precio</td>
                        <td>$@ticket.Abono</td>
                        <td>
                            <span class="@ticket.Estado.ToLower() ticket-state">
                                @ticket.Estado
                            </span>
                        </td>
                        <td>@ticket.Categoria?.Nombre</td>
                        <td class="ticket-asignado">@ticket.Persona?.Nombre</td>
                        <td class="ticket-asignado">@ticket.Persona?.Red.Nombre</td>
                        <td>
                            <button class="btn btn-outline-success show-abonar" data-codigo="@ticket.Codigo" data-responsable="@ticket.Persona?.Nombre">
                                Abonar / Pagar
                            </button>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
</section>

<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.IdEvento">Editar este evento</a> |
    <a class="btn btn-outline-secondary" asp-action="Index">Volver a la lista de eventos</a>
</div>

<aside class="pagos-sec card hide-side" id="abonar-side">
    <div class="card-header">
        <h2 class="card-title">Abonar</h2>
    </div>
    <form class="card-body card-abonar" id="form-abonar">
        <div class="mb-3">
            <label class="form-label">Monto a abonar / Pagar</label>
            <input type="number" class="form-control" id="monto-abono" />
        </div>
        <div class="mb-3">
            <p>
                <strong>Responsable: </strong>
                <span id="responsable"></span>
            </p>
        </div>
        <div class="mb-3">
            <label class="form-label">Código de la Ticket:</label>
            <input class="form-control" type="text" id="codigo-ticket" readonly />
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Guardar</button>
            <button class="btn btn-outline-danger hide-aside" type="button">Cancelar</button>
        </div>
    </form>
</aside>

<script src="~/js/Evento/Details.js"></script>
